*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: #BBD2C5;  /* fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #536976, #BBD2C5); *//* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
    text-align: center;
    margin-top: 1rem;
    color: white;
}

.card-container{
    display: flex;
    justify-content: space-around; 
    margin-top: 3rem;
}

.card{
    width: 250px;
    height: 320px;
    background-color: rgb(126, 126, 168);
    border-radius: 10px;
    align-items: center;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.profile-image{
    border-radius: 50%;
    width: 50%;
}

.profile-btn{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 4px;
    text-decoration: none;
    color:black;
}

.profile-btn:hover{
    background-color: rgb(145, 168, 164);
    transition: 1s;
    color: white;
}

   